#gear
{
width:40px;
height:40px;
background:url(http://www.cs.cmu.edu/~junggon/tools/gear.png) 0 0; 
}
#title
{
color:#FF3300;
font-family:"Arial", Helvetica, sans-serif;
}
.centered{
margin: 0 auto;
}
.icon{
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.mainscreen
{
    position:relative;
    left:94px;
}
.inpopup{
	margin: 10px 10px 10px 10px;
}
.overmap{
    position:absolute;
}